<center><h2><%= @user.first_name %> <%= @user.last_name %></h2></center>
<ul>
<ul class="list-group ">
  <li class="list-group-item"><b>Addres:</b> <%= @user.address %></li>
  <li class="list-group-item"><b>Email:</b> <%= @user.email %></li>
  <li class="list-group-item"><b>Phone</b> number: <%= @user.phone %></li>
</ul>


<p><%=link_to"Go Home", root_path %> <%=link_to"Add a Plane", new_plane_path %></p>
